<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <header>
  <%if current_user%>
     Welcome to Ninety Nine Cats, <%=current_user.user_name%>
    <form action= "<%=session_url%>" method = "Post">
      <input type= "hidden" name= "authenticity_token" value="<%form_authenticity_token%>">
      <input type= "hidden" name = "_method" value = "Delete">
      <input type= "submit" value="Log Out">
    </form>
  <%else%>
    Welcome to Ninety Nine Cats
     <form action= "<%=new_session_url%>" method = "Post">
      <input type= "hidden" name= "authenticity_token" value="<%form_authenticity_token%>">
      <input type= "hidden" name = "_method" value = "Get">
      <input type= "submit" value="Log In">
    </form>
  <%end%>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
