<table>
    <thead>
        <tr>
            <th colspan="2"><%=@kitty.name%></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Color:</td>
            <td><%=@kitty.color%></td>
        </tr>
          <tr>
            <td>Age:</td>
            <td><%=@kitty.age%></td>
        </tr>
          <tr>
            <td>Sex:</td>
            <td><%=@kitty.sex%></td>
        </tr>
          <tr>
            <td>Description:</td>
            <td><%=@kitty.description%></td>
        </tr>
      
    </tbody>
     
</table>
<a href="<%= edit_cat_url(@kitty) %>">Mutate The Cat</a>
<br>
<a href="<%= cats_url %>">Back to Cats!</a>


